@import '@fontsource/fira-mono';
@font-face {
	font-family: 'Borel';
	src: url('/fonts/Borel.ttf');
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins.ttf');
}
:root {
	--font-text: 'Poppins', 'Helvetica Neue', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
	--font-title: 'Borel', 'Helvetica Neue';
	--color-bg-0: rgb(255, 238, 82);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-text);
	color: var(--color-text);
}
html {
	scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title);
}
@media screen and (min-width: 768px) {
	html {
		scroll-snap-type: y mandatory;
	}
}
body {
	margin: 0;
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
}
